[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = ">=2.0"
django-cors-headers = "==3.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
